.shapes,
.glass {
  position: fixed;
  inset: 0;
}

.glass {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.685);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  display: grid;
  place-items: center;
  font: 900 2.25rem futura, sans-serif;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.shape {
  position: absolute;
  width: 400px;
  aspect-ratio: 1;
  border-radius: 50%;
  z-index: 1;
}

.shape-yellow {
  background-color: rgba(33, 89, 209, 0.712);
}
.shape-salmon {
  background-color: rgba(153, 24, 110, 0.651);
}

.background {
  background-color: #0d0e0f;
}

@media (max-width: 768px) {
  .shape {
    width: 200px;
  }
}
