@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  background-color: #0b1529;
}

#myProgressBar > div {
  background: linear-gradient(
    36deg,
    rgba(1, 54, 113, 1) 20%,
    rgba(6, 54, 225, 1) 53%,
    rgba(6, 190, 225, 1) 87%
  ) !important;

  height: 7px !important;
}

#content {
  position: absolute;
  z-index: 10;
  width: 100vw;
}
